.container{
    border: 1px solid blue;
    border-radius: 15px;
    width: 550px;
    height: 275px;
    margin: 150px 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h1{
    text-align: center;
}

hr{
    width: 70%;
}

input{
    width: 80%;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button{
    margin-left: 25px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: black;
}